*.iml
.gradle
.idea/
.kotlin
.DS_Store
.cxx
.externalNativeBuild
**/build/
**/.cxx
**/.externalNativeBuild

# Android & Local Config
local.properties
/captures


# Logs & Debug Artifacts
*.log
perf_sandbox